/* src/App.css */
.card {
  transition: transform 0.2s;
  max-height: 400px; /* Adjust the height as needed */
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px; /* Adjust the height as needed */
  object-fit: cover;
}

.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
